<h2>interceptor Example!</h2>
<h3>This is example where we have added multiple intercept </h3>
    <h4>1. intercept to add token ( CustomHttpinterceptorInterceptor )</h4>
    <h4>2. intercept to Handle Error ( GlobalErrorHandlerInterceptorInterceptor  and service - GlobalErrorHandlerService )</h4>
<h3>Missspelled the URL to generate Error</h3>
<h3>Added Ngx-bootstrap/subject observable to show Error in header as Alert</h3>

<div><img src="../../../assets/screenshot.1682 (2).jpg"></div>
<div><img src="../../../assets/screenshot.1682.jpg"></div>
<h3> we can add indivisual interceptor if required</h3>
<div><img src="../../../assets/screenshot.1683.jpg"></div>



